.Menu {
  display: flex;
  flex-direction: row;
  padding: 0 40px 0 20px;
  background-color: #d9d2c0;
  box-shadow: 0px 0px 5px #6b675e;
  color: black;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
  color: #fff8e9;
  text-decoration: none;
  font-family: fantasy;
  font-weight: 500;
  font-size: large;
}

.NoneDecor {
  color: #fff8e9;
  text-decoration: none;
  font-family: fantasy;
  font-weight: 500;
  font-size: large;
}

.MenuButtons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 200px;
}

.TextBtn {
  all: unset; /* Remove all default browser styling */
  cursor: pointer; /* Show pointer cursor on hover */
  color: inherit; /* Inherit text color from parent */
  font: inherit; /* Inherit font properties from parent */
  /* text-decoration: none; Remove underline from links */
  display: inline; /* Ensure the element respects text flow */
  line-height: 1.5; /* Adjust line height to match surrounding text */
  color: #fff8e9;
  text-decoration: none;
  font-family: fantasy;
  font-weight: 500;
  font-size: large;
}

.TextBtn:hover {
  color: #ffffff; /* Change text color on hover */
  background-color: transparent; /* Ensure background stays transparent */
}

.TextBtn:focus {
  outline: none; /* Remove focus outline */
}

.NoneDecor:active {
  color: #fcfcfc;
}



