.Menu {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  background-color: #2a339a;
  box-shadow: 0px 0px 20px black;
  color: black;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  position: relative;
  color: #fff8e9;
  text-decoration: none;
  font-family: fantasy;
  font-weight: 500;
  font-size: large;
}

.NoneDecor {
  color: #fff8e9;
  text-decoration: none;
  font-family: fantasy;
  font-weight: 500;
  font-size: large;
}

.MenuButtons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 200px;
}

.TextBtn {
  all: unset; /* Remove all default browser styling */
  cursor: pointer; /* Show pointer cursor on hover */
  color: inherit; /* Inherit text color from parent */
  font: inherit; /* Inherit font properties from parent */
  /* text-decoration: none; Remove underline from links */
  display: inline; /* Ensure the element respects text flow */
  line-height: 1.5; /* Adjust line height to match surrounding text */
  color: #fff8e9;
  text-decoration: none;
  font-family: fantasy;
  font-weight: 500;
  font-size: large;
}

.TextBtn:hover {
  color: #ffffff; /* Change text color on hover */
  background-color: transparent; /* Ensure background stays transparent */
}

.TextBtn:focus {
  outline: none; /* Remove focus outline */
}

.NoneDecor:active {
  color: #fcfcfc;
}

.Icon {
  height: 90%;
  border-radius: 1000px;
  position: absolute;
  left: calc(50% - 25px);
}

.Icon:active {
  width: 150px;
  height: 150px;
  border-radius: 10000px;
  position: absolute;
  left: calc(50% - 75px);
  z-index: 1000;
  margin-top: 100px;
}


