.AddForm {
  margin-top: 30px;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: 4px;
}

.AddImage {
  width: 100px;
  height: 100px;
}

.AddForm::-webkit-scrollbar {
  width: 4px;
}

.AddForm::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 4px;
}

.dateDiv {
  display: flex;
  height: fit-content;
}
