.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  height: 89vh;
  justify-content: space-around;
  position: relative; /* Allows positioning of the overlay */
  padding-top: 15px;
  z-index: 0;
}

.List::before {
  content: "";
  position: absolute; /* Positioned over the background */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 65%;
  overflow-y: auto; /* Allows scrolling for overflow content */
  height: 100%;
  margin: 8px auto;
}

.cardsContainer::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar */
  background: transparent; /* Ensures no background is visible */
}
