#MyCard .MyLikeButton,
#MyCard .OptionMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#MyCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  background-color: #ffffff;
  height: 50%;
  width: 30%;
  border: 1px solid rgb(201, 200, 199);
}

.CardContent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: flex-start;
  text-align: start;
  height: 80%;
  margin: 2px 0;
}

.CardContent::-webkit-scrollbar {
  width: 4px;
}

.CardContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 4px;
}

.CardImage {
  width: 100%;
  height: 200px;
}
